/* ================= */
/* GENERAL SETUP */
/* ================= */
:root {
  --foreground: white;
  --background-color: #222f3e;
  --primary-background: #222f3e;
  --secondary-background: #1b222b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 320px;
  scroll-behavior: smooth;
}

body {
  color: var(--primary-background);
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

main {
  padding-top: 51px;
}
@media (max-width: 800px) {
  main {
    padding-top: 45px;
  }
}