/* ================= */
/* GENERAL SETUP */
/* ================= */
:root {
  --foreground: white;
  --background-color: #222f3e;
  --primary-background: #222f3e;
  --secondary-background: #1b222b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 320px;
  scroll-behavior: smooth;
}

body {
  color: var(--primary-background);
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

/* ================= */
/* NAVIGATION */
/* ================= */
.topnav {
  width: 100%;
  position: fixed;
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 10;
}

.topnav a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 18px;
  color: var(--foreground);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: 2px solid var(--secondary-background);
}

/* Show only first item and icon */
.topnav a:not(:first-child) {
  display: none;
}
.topnav .icon {
  width: auto;
  height: 44px;
  top: 0;
  right: 8px;
  box-shadow: none;
  position: absolute;

  text-align: right;
  border: 0;
  color: var(--foreground);
  background: transparent;
  display: block;
}

.topnav .icon svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.topnav.responsive a {
  display: block;
}

/* Min width 430px: Change navigation display mode */
@media (min-width: 430px) {
  .topnav {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .topnav a {
    width: auto;
  }

  .topnav a:not(:first-child) {
    display: block;
  }
  .topnav .icon {
    display: none;
  }

  .topnav a:hover {
    border-bottom: 2px solid #ccc;
  }
}
